<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="CyberZend_SocialLogin::cyberzend" title="CyberZend" resource="CyberZend_SocialLogin::cyberzend" module="CyberZend_SocialLogin" sortOrder="20"/>
    <add id="CyberZend_SocialLogin::cyberzend_sociallogin" title="Social Login" resource="CyberZend_SocialLogin::cyberzend_sociallogin" parent="CyberZend_SocialLogin::cyberzend" module="CyberZend_SocialLogin" sortOrder="20"/>
    <add id="CyberZend_SocialLogin::cyberzend_sociallogin_settings" title="Settings" resource="CyberZend_SocialLogin::cyberzend_sociallogin" parent="CyberZend_SocialLogin::cyberzend_sociallogin" action="adminhtml/system_config/edit/section/cyberzend_sociallogin" module="CyberZend_SocialLogin" sortOrder="20"/>
  </menu>
</config>
